template(name="messages")
	if Template.subscriptionsReady
		.collection
			if $.Session.get "conversation"
				+conversation doc
			else
				+each conversations
					a.collection-item.avatar.waves-effect.conversation(style="font-weight:{{is last.isRead 'normal' 'bold'}}")
						img(src="/icons/user.png" alt="" class="circle").z-depth-1
						.title.black-text #{mate.profile.firstname}
						p #{last.message}
						.secondary-content {{ago updatedAt}}
				else
					.collection-item
						p No message

	else
		+loading

template(name="conversation")
	+each messages
		.collection-item.avatar(style="font-weight:{{is isRead 'normal' 'bold'}}")
			img(src="/icons/user.png" alt="" class="circle").z-depth-1
			.title #{author.profile.firstname}
			p #{message}
			.secondary-content {{ago createdAt}}
	else
		.collection-item
			p.center-align Say hi!

	+autoForm id="sendMessage" collection="Message" type="insert" scope="messages" class="form"
		+afQuickField name="conversation_id" value=_id
		.row
			.input-field.col.s9.l8
				+afFieldInput name="message"
			.input-field.col.s3.l4.right-align
				button.btn-flat.btn-large.green-text.waves-effect.waves-green.btn-floating
					i.grey-text.material-icons send